<div class="login-page">

  <div class="login-box">

    <div class="login-logo">
      <a routerLink="/">potikada</a>
    </div>

    <h2 class="login-title">Welcome back 👋</h2>
    <p class="login-sub">Sign in to your affiliate account</p>

    
   

    <div class="field">
      <label>Email Address</label>
      <input type="email" [(ngModel)]="email" placeholder="Enter your email">
    </div>

    <div class="field">
      <label>Password</label>
      <div class="field-password">
        <input [type]="showPassword ? 'text' : 'password'"
               [(ngModel)]="password"
               placeholder="Enter your password">
        <button class="toggle-pw" (click)="togglePassword()">
          <svg viewBox="0 0 24 24">
            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
            <circle cx="12" cy="12" r="3"/>
          </svg>
        </button>
      </div>
    </div>

    <a class="forgot" href="#">Forgot password?</a>

    <button class="btn-primary" (click)="login()">Sign In →</button>

    <div class="login-footer">
      Don't have an account?
      <a (click)="goToRegister()">Register here</a>
    </div>

  </div>
</div>